.App {
  text-align: center;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
  background-color: white;
  color: black;
  border: 3px solid black;
  font-style: italic;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body, html {
  height: 100%;
  margin: 0;
  position: relative;
}


/* DatePicker NameForm SeatInfo*/

.div-center { 
  width: 40%;
  height: 90%;
  min-width: 270px;
  max-width: 370px;
  min-height: 390px;
  max-height: 400px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Adjust position back */
  padding-bottom: 10px;
}

input, textarea {
  display: block;
  margin: auto;
  width: 85%;             /* Full width of the form */
  padding: 10px;           /* Padding inside inputs */
  margin-bottom: 15px;     /* Space below inputs */
  border: 1px solid black;  /* Black border for inputs */
  border-radius: 3px;      /* Rounded corners */
  font-size: 16px;   
  text-align: center;      /* Font size */
}

@media (max-width: 768px){
  input, textarea{
    width: 80%;
  }
}