.date-picker{
    width: 430px;
    height: 420px;
    margin: auto;
    margin-top: 13%;
    padding-top:8%;
    border : 2px solid black;
}

.name-input{
    display: block;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width: 40%;             /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: 2px solid black;            /* Remove default border */
    background-color: white; /* Black background */
    color: black;            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer; 
}
.name-input:hover{
    border: 2px solid rgb(150, 15, 15);
}

.date-h1{
    text-align: center;
    margin: auto;
    margin-top: 12%;
    margin-bottom: 50px;
    font-weight: 700;
}


select{
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 40%;             /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: 2px solid black;            /* Remove default border */
    background-color: white; /* Black background */
    color: black;            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer;         /* Change cursor to pointer */ 
}

select:hover{          /* Padding inside the button */         /* Remove default border */
    border-width: 3px;
    padding: 8px;
    color: rgb(0, 0, 0);            /* White text */        /* Change cursor to pointer */ 
}

.date-button{
    display: block;
    margin: auto;
    margin-top: 7%;
    width: 40%;             /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: none;            /* Remove default border */
    background-color: black; /* Black background */
    color: white;            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer;         /* Change cursor to pointer */
    border-radius: 8px;  
}

.name-button{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 40%;             /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: none;            /* Remove default border */
    background-color: black; /* Black background */
    color: white;            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer;         /* Change cursor to pointer */
    border-radius: 8px;  
}

.seat-button:hover{
    background-color: black;
    color: rgb(255, 254, 254);
    border: 2px solid black;
}

.seat-button{
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 15%;   
    min-width: 140px;          /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: none;            /* Remove default border */
    background-color: rgb(255, 254, 254); /* Black background */
    border: 2px solid black;
    color: rgb(0, 0, 0);            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer;         /* Change cursor to pointer */ 
}

.name-h2{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-weight: 700;
}

.name-h1{
    margin-bottom: 18%;
}

.name-h2-2{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 700;
}

.name-div{
    min-width: 300px;
    padding-top: 7%;
    align-items: center;
    justify-content: center;
}