.date-select{
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 40%;             
    padding: 10px;           
    border: 2px solid black;            
    background-color: white; 
    color: black;            
    font-size: 16px;       
    cursor: pointer;        
}

.date-select:hover{         
    border-width: 3px;
    padding: 9px;           
}

.date-button{
    display: block;
    margin: auto;
    margin-top: 5vh;
    width: 40%;            
    padding: 10px;           
    border: none;            
    background-color: black;
    color: white;           
    font-size: 16px;        
    cursor: pointer;         /* Change cursor to pointer */ 
}

.date-button:hover{
    padding: 8px;
}