.mainh1 {
    text-align: center;
}

.loading-bar-container {
    width: 60vw;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 15vw;
}

.loading-bar {
    height: 8px;
    background-color: #000000;
    animation: loading 3s linear infinite;
}
@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
/* Styling for the search section */