* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.signInh1{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-weight: 700;
}

.label-signIn {
    display: block;
    width: 85%; 
    margin:auto;
    margin-bottom: 10px;         /* Make labels block elements */
}

.formButton {
    margin-top: 20px;
    width: 100%;             /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: none;            /* Remove default border */
    background-color: black; /* Black background */
    color: white;            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer;         /* Change cursor to pointer */     /* Rounded corners */
    /**/
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    width: 15%;   
    min-width: 140px;   
}

.formButton:hover{
    padding: 8px;
}

.errorP{
    padding: 0;
    margin: 0;
    text-align: center;
    color: #270909;
}
.styledForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}