* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.signInh1{
    margin: 10vh;
    margin-top: 8vh;
    font-weight: 700;
}

.form-container {
    width: 30vw;
    min-width: 200px;
    height:60vh;           /* Set a fixed width for the form */         /* Add padding around the form */
    border: 2px solid rgb(88, 10, 10); /* Black border around the form */
    border-radius: 25px;     /* Rounded corners */
    background-color: white; /* White background for the form */
    margin: auto;
    margin-top: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

label {
    display: block;          /* Make labels block elements */
    margin: 10px 0 7px;     /* Space above and below labels */
}

input, textarea {
    width: 100%;             /* Full width of the form */
    padding: 10px;           /* Padding inside inputs */
    margin-bottom: 15px;     /* Space below inputs */
    border: 1px solid black;  /* Black border for inputs */
    border-radius: 3px;      /* Rounded corners */
    font-size: 16px;   
    text-align: center;      /* Font size */
}

.formButton {
    margin-top: 20px;
    width: 100%;             /* Full width of the button */
    padding: 10px;           /* Padding inside the button */
    border: none;            /* Remove default border */
    background-color: black; /* Black background */
    color: white;            /* White text */
    font-size: 16px;         /* Font size */
    cursor: pointer;         /* Change cursor to pointer */
    border-radius: 3px;      /* Rounded corners */
}

.formButton:hover{
    padding: 8px;
}

.loading-bar-container {
    width: 60vw;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 15vw;
}

.loading-bar {
    height: 8px;
    background-color: #000000;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}