.seat {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    border-radius: 20px; /* Adjust the value as needed */
    /* Optional: add a border or background color */
    background-color: #f0f0f0; /* Optional background color */
    align-items: center;
    font-weight: 700;
}
.divider{
    margin:10px;
    padding:10px;
}
.green{
    background-color: rgb(149, 227, 149);
}
.yellow{
    background-color: rgb(234, 234, 156);
}
.red{
    background-color: rgb(243, 185, 185);
}

.black{
    background-color: black;
    color: white;
}

button {
    outline: none; /* Removes the outline */
    border: none; /* Optional: Removes the border */
    background: none; /* Optional: Removes the default button background */
    cursor: pointer; /* Changes the cursor to pointer on hover */
}

.black, .black * {
    color: white;
}

.container {
    display: flex;          /* Use Grid */
    align-items: center;
    justify-content: center;
    width: 100%;          /* Full width of the parent */
}

.item {
    padding: 10px;  
    margin-right: 20vw;     /* Optional padding */
}

.slika {
    width: 30vw;           /* Make the image responsive */       /* Maintain aspect ratio */
}
h1{
    text-align: center;
    color: rgb(67, 50, 50);
    margin-top: 5vh;
    margin-bottom: 8vh;
}

.seat-block{
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right:10vw;
}