.seat {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    border-radius: 20px; /* Adjust the value as needed */
    /* Optional: add a border or background color */
    background-color: #f0f0f0; /* Optional background color */
    align-items: center;
    font-weight: 700;
}

.green{
    background-color: rgb(149, 227, 149);
}
.yellow{
    background-color: rgb(234, 234, 156);
}
.red{
    background-color: rgb(243, 185, 185);
}

.black{
    background-color: black;
    color: white;
}

button {
    outline: none; /* Removes the outline */
    border: none; /* Optional: Removes the border */
    background: none; /* Optional: Removes the default button background */
    cursor: pointer; /* Changes the cursor to pointer on hover */
}

.black, .black * {
    color: white;
}